

 .About-wrapper{
color: black;
position: relative;
padding-bottom: 2rem;
background: radial-gradient(circle at 5.3% 17.2%, rgb(255, 208, 253) 0%, rgb(255, 237, 216) 90%);
  display: flex;
  align-items:  start;
  justify-content: space-between;
  z-index: 1;


}
.About-container{
    justify-content: space-between;
    align-items: flex-start;
    
}




.count>h1{
    color:rgb(158, 27, 49);
}
input{
    border: none;
    outline: none;
}
.About-left{
    gap:5rem;
   
}
.About-title{
 position: relative;
  z-index: 1;
  padding-left: 20px;
 
}
.About-desc>span{
    color:rgb(74, 44, 44);
}
.About-title>h1{
 font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  margin:  0; 
} 

.stats{
    padding-top:7rem;
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:5rem;
}
.stat{
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    padding:3rem 6rem;
    border-radius: 5%;
    padding: auto;
}
.stat>span{
    font-size: 2.0rem;
    font-weight: 500;
}
.stat>p{
    font-size:2rem;
    font-weight: 500;
}
@media (max-width: 500px){
    .About-title{
       margin-top: 2rem;
    }
    .About-left{
        justify-content: center;
        align-items: center;
    }
    .About-desc{
       padding: 0 5rem 0 5rem;
       text-align: center;
    }
    .image-container{
        display: inline-block;
        width: auto;
        height: auto;
        }
    
}
@media( min-width:501 ),(max-width:1500px){
    .About-title{
        margin-top: 2rem;
     }
     .About-container{
        align-items: flex-start;
        justify-content: space-evenly;
        
    }
    .image-container{
        width:inherit;
        height:600px;
    }
    
} 
