.h-wrapper {
    background: #2d2a30;
    color: white;
    position: relative;
}

.h-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.h-menu {
    display: flex;
    gap: 2rem;
}

.h-menu > *:hover {
    cursor: pointer;
}

.active_class {
    color: rgb(107, 107, 205);
}

.ham {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    position: absolute;
    top: 20px;
    right: 10px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-list li {
    margin-right: 20px;
    color: #f1f1f1;
    cursor: pointer;
}

.nav-list li:last-child {
    margin-right: 0;
}

/* Media Queries for Responsive Design */
@media screen and (min-width: 769px) {
    .h-menu {
        display: flex;
        align-items: flex-end;
    }

    .ham {
        display: none;
    }

    .nav-list {
        display: flex;
    }

    .nav-list li {
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .h-menu {
        display: none; /* Initially hide the menu on smaller screens */
        flex-direction: column;
        width: 100%;
        background: #2d2a30;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
    }

    .h-menu.active {
        display: flex;
    }

    .ham {
        display: block;
    }

    .nav-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .nav-list li {
        margin: 0;
        color: #f1f1f1;
        cursor: pointer;
        width: 100%;
        padding: 20px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
    }

    .nav-list li:nth-child(1) {
        border-top: none;
    }

    .nav-list li:last-child {
        margin-top: 20px;
    }

    .nav-list li:last-child .Button {
        width: 80%;
        margin: 0 auto;
    }
}
